body {
  background-color: rgb(29, 29, 29);
  color: white;
  height: fit-content;
}
.homepage {
  display: flex;
  flex-direction: column;
}

.homepage__navWraper {
  position: relative;
  flex: 0.2;
}

.homepage__timeline {
  flex: 0.8;
}
